@import "tailwindcss";

:root {
  --background: #0a0d11;
  --foreground: #ededed;

  /* Cyberpunk Palette */
  --neon-green: #00ff9d;
  --neon-violet: #b026ff;
  --neon-cyan: #00f3ff;
  --card-bg: #0a0a0a;
  --card-border: #222222;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-neon-green: var(--neon-green);
  --color-neon-violet: var(--neon-violet);
  --color-neon-cyan: var(--neon-cyan);
  --color-card: var(--card-bg);
  --color-border: var(--card-border);

  --font-sans: var(--font-manrope);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom Utilities */
@utility text-glow {
  text-shadow: 0 0 10px currentColor;
}

@utility box-glow {
  box-shadow: 0 0 20px -5px currentColor;
}

@utility neon-border {
  border: 1px solid currentColor;
  box-shadow: 0 0 10px -2px currentColor;
}

.text-neon-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-neon-green to-neon-cyan drop-shadow-[0_0_10px_rgba(0,255,157,0.5)];
}

.border-card-border{
  @apply border-gray-600/20;
}
.container{
  @apply max-w-[1440px] mx-auto;
}